body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: white;

  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* HEADER */
header {
  text-align: center;
  padding: 120px 20px;
}

header h1 {
  font-size: 55px;
  background: linear-gradient(90deg, #fff, #999, #fff);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  header h1 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

header p {
  color: #888;
  font-size: 18px;
}

/* GRID */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 50px;
}

/* CARD */
.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
  position: relative;
}

/* GLOW EFFECT */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  opacity: 0;
  transition: 0.4s;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

/* TEXT */
h2 {
  margin-bottom: 10px;
  font-weight: 500;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 50px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
